{% if site.categories %}
<hr>
<section>
    <h4><a href="{{prepend: site.baseurl }}">CATEGORY</a></h4>
    <ul>
        {% assign pages_list = site.pages %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "category" %}
                    <h4><a class="category-link {% if page.url == node.url %} active{% endif %}"
                    href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a></h4>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</section>
<hr>
{% endif %}